/*This css file is an assignment of CITS5505 unit 
in the university of Western Australia (2024 S1) */
/*This is a part of the Group assingment*/
/* validation done */

/* Base page CSS */

.navbar .nav-logo img {
    transition: all 0.3s ease;
}
.navbar .nav-logo img:hover {
    transform: scale(1.1);
    filter: drop-shadow(1px 0px 15px rgb(125, 121, 121));
}

.navbar .navbar-nav .nav-link {
    color: rgb(71, 67, 67) !important;
    font-family:Arial, Helvetica, sans-serif; 
    font-size: 18px !important; 
    font-weight: 900 !important;
    padding: 10px 30px !important;
    border-radius: 10px !important;
    margin-top: 4px !important;
    transition: all 0.3S;
}

.navbar .navbar-nav .nav-link:hover {
    color: white !important;
    background-color: rgb(34, 95, 155); 
}

.navbar .navbar-nav .nav-link:active {
    background-color: black !important;
    color: aliceblue !important;
}

.navbar .search-form{
    margin-top: 20px;
    margin-bottom: 20px;
}

/*base page button */
.navbar .btn {
    background-color: rgb(34, 95, 155);
    border: none;
    transition: all 0.3s;
}

.navbar .navbar-toggler {
    background-color: rgb(34, 95, 155) !important;
}

.navbar .btn:hover {
    background-color: rgb(99, 152, 206) !important;
}
.navbar .btn:active {
    background-color: rgb(55, 64, 73) !important;
}

/* base page login button */
.navbar .navbar-nav .login{
    color: white !important;
    border-radius: 20px !important; 
    border: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-weight: bolder !important;  
    text-align: center;
    width: 150px;
    transition: all 0.4s ease !important;
    outline: none;
}

.navbar .navbar-nav .login:hover {
    background-color: rgb(250, 252, 253) !important;
    color: rgb(34, 95, 155) !important;
    font-weight: 900 !important;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.3);
}

.navbar .navbar-nav .login:active {
    background-color: black !important;
    color: aliceblue !important;
}

.navbar .navbar-nav .nav-item {
    margin-right: 10px !important;
    margin-left: 10px;
    border-right: 70px !important;
}

/* base page drop list  */

.navbar-nav .dropdown-name{
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 30px;
    font-weight: bold;
}
.navbar-nav .dropdown-item {
    font-family:Arial, Helvetica, sans-serif;
    font-size:medium;
    color: rgb(34, 95, 155);
    margin-top: 10px;
    padding: 10px 30px ;
    transition: all 0.3s ease;
}

.navbar-nav .dropdown-item:hover {
    color: white;
    background-color: rgb(34, 95, 155);
}

.flashmessage{
    list-style-type: none;
    border-radius: 20px;
    background-color: rgb(226, 239, 240);
    color: rgb(31, 79, 113);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    margin: auto;
    width: 80%;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.5);
}

.nav-footer .nav-logo img {
    transition: all 0.3s ease;
}

.nav-footer .nav-logo img:hover {
    transform: scale(1.1);
    filter: drop-shadow(1px 0px 15px rgb(125, 121, 121));
}

.nav-footer .nav-link:hover{
    transition: all 0.3s ease;
}

.nav-footer .nav-link:hover{
    filter: drop-shadow(1px 0px 10px rgb(0, 0, 0));
    
}


/*Homepage CSS*/
/*Homepage Sidebar*/
.homesidebar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
    background-color:rgb(246, 246, 246);
    height: 100%;
    text-align: center;
    margin-right: 20px;
    min-width: 150px;
}

@media (max-width: 768px) { 
    .homesidebar {
        width: 100%;  /* 使sidebar占满整个行宽 */
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;  /* 调整padding以减少上下边距 */
        margin-bottom: 10px;  /* 在sidebar和主内容区之间添加一些空间 */
    }
    .homesidebar .top2 {
        margin: 0 5px; /* 在小屏幕上减少边距 */
        padding: 5px 10px; /* 减少padding */
    }
    .add-post-btn {
        font-size: 50px; /* 调整按钮大小以适应较小屏幕 */
    }
}
.homesidebar .top2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: rgb(34, 95, 155);
    padding: 10px;
    border-radius: 20px;
    justify-content: center; 
    transition: all 0.4s ease;
    margin: 5px 20px;
    display: inline-block;
    transition: all 0.4s ease; 
}

.homesidebar .top2:hover {
    background-color: rgb(34, 95, 155);
    color: white;
}

.add-post-btn {
    display: inline-block;
    position: relative;
    color: rgb(34, 94, 155);
    text-align: center;
    transition: transform 0.4s; 
    z-index: 10; 
}

.add-post-btn:hover {
    transform:  scale(1.2) rotate(90deg); 
    transform-origin: center; 
    color: rgb(34, 94, 155);
}

.homesidebar .active {
    background-color: rgb(219, 221, 223);
    color: rgb(34, 95, 155);
    border-radius: 20px;
    font-weight: bold;
}

/* Homepage  PostsCard */

.badge {
    color: white;
    padding: 10px 20px !important;
    font-size: 0.8em !important;
    font-weight: bold !important;  
}

.post-card {
    border-radius: 30px !important;
    transition: all 0.2s ease;
    overflow: hidden;
}

.post-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.post-card-link {
    text-decoration: none; 
    transition: all 0.15s ease;
}

.post-card-link:hover {
    text-decoration: none; 
    font-size: larger;
} 

/* Homepage Pagination */

.pagination .page-link {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white !important;
    background-color:rgb(34, 95, 155) !important;
    height: 40px;
    transition: all 0.3s ease;
}

.pagination .page-item{
    margin: 15px;
}

.pagination .page-item.active .page-link {
    background-color: rgb(224, 222, 222)!important;
    border: transparent !important; 
    color: rgb(34, 95, 155) !important;
    font-weight: bolder;
}

.pagination .page-link:hover{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white !important;
    background-color:rgb(15, 16, 16) !important;
}
.pagination .page-item.disabled .page-link {
    color:white !important; 
    background-color:  rgba(102, 138, 176, 0.906) !important; /* 禁用状态的背景色 */
}


/* Profile/login/Sign-up page CSS */
/* Profile Card */

.profile .profile-card {
    background-color: white  !important;
    border-radius: 30px !important;
}

.profile .card-header {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(250, 250, 251);
    background-color: rgb(34, 95, 155) !important;
    border-top-left-radius: 30px !important ;
    border-top-right-radius: 30px !important;
    height: 120px;
    justify-content: center !important;
    align-content: center !important;
}

.profile .profile-name {
    font-family:  Arial, sans-serif;
    font-size: 200%;
    color:rgb(34, 95, 155);
    font-weight: bold;
    transition: all 0.3s ease;
}

.profile-name:hover {
    font-size: 230%;
    color:rgb(26, 81, 136);
    font-weight: 1000;
}

.profile .profile-label {
    padding-top: 7px !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(124, 125, 127, 0.866);
    padding-left: 40px !important;
    padding-bottom: 17px !important;
    font-weight:300 ;
}

.profile .profile-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: all 0.3s ease;
}

.profile .profile-img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

.profile .profile-value{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(20, 55, 89, 0.945);
    font-weight: 200;
    padding-top: 9px !important;
    transition: all 0.3s ease;
}

.profile .profile-value:hover{
    background-color: rgb(211, 217, 222) !important;
    font-size: large !important;
}

.profile .btn  {
    background-color: rgb(233, 233, 233) !important;
    color: rgb(34, 95, 155) !important;
    padding: 15px !important;
    font-weight: 700;
    transition: all 0.3s;
    border-color: transparent;
}

.profile .btn:hover {
    background-color: rgb(34, 95, 155) !important;
    color: white !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}
.profile .btn:active {
    background-color: rgb(4, 8, 12) !important;
}

/* Personal Channel Page CSS */
.userchannel .profile-img {
    object-fit: cover;
    transition: all 0.3s ease;
  }

.userchannel .profile-img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  }

.userchannel .channeltitle{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color:rgb(34, 95, 155) ;
    font-weight: bold !important;
}
.userchannel .channeltext{
    color:rgb(61, 77, 92) ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.userchannel .btn {
    border: none;
    transition: all 0.3s ease;
}

.userchannel .btn-primary {
    background-color:rgb(34, 95, 155) !important ;
  }
 .userchannel  .btn:hover {
    background-color: rgb(221, 220, 220) !important; 
    color:rgb(34, 95, 155) ;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .userchannel .profile-img {
      width: 120px;
      height: 120px;
    }
  }

  /* following and follwer page CSS */

.followsection h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:xx-large; 
    color: rgb(34, 95, 155) !important; 
    font-weight: bolder;
    
}

.list-group-item {
    font-family: 'Verdana', sans-serif; 
    color: rgb(34, 95, 155) !important; 
    transition: transform 0.3s ease; 
}

.list-group-item:hover {
    transform: scale(1.05); 
    background-color: rgb(187, 180, 180); 
}

/* search result page */
.search .searchtitle{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color:rgb(34, 95, 155) ;
    font-weight: bold !important;
}

.search .btn-group {
    display: flex;
    justify-content: center;
    width: 50%; 
    margin: auto;
}

.search .btn {
    border-radius: 20px; 
    background-color: rgb(236, 236, 236); 
    border: none;
    color: rgb(34, 95, 155);
    padding: 10px 30px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.search .btn:hover {
    background-color: rgb(34, 95, 155); 
    color: white;
}

.search .btn.active {
    background-color: rgb(34, 95, 155) !important; 
    color: white !important ;
}


/* single post page */

.post-container {
    margin-top: 10px;
}

.post-container .post-image {
    width: 80%;
    max-width: 900px; 
    height: auto; 
    max-height: 500px;
    object-fit: cover;
    display: block; 
    margin: 0 auto;
    border-radius: 30px; 
}

.post-container .post-maintitle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(34, 95, 155);
    font-size:xx-large;
    font-weight: bolder;
}

.post-container .post-category {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    color:white;
    font-weight: bold;
    margin-left: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

/* set color for different categories */
.category-Interview {
    background-color: rgb(40, 169, 233); 
}

.category-Recruitment {
    background-color: rgb(229, 107, 51) 
}

.category-Seeking {
    background-color:rgb(44, 131, 70); 
}

.category-Experience {
    background-color: rgb(135, 55, 169); 
}
.category-none {
    background-color: rgb(114, 112, 112); 
}

.author-info {
    display: flex;
    align-items: center;
}
.author-link {
    text-decoration: none !important;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.author-link:hover .author-icon,
.author-link:hover .author-name {
    transform: scale(1.1);
}

.author-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    transition: all 0.3s ease;
}

.author-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: large;
    transition: all 0.3s ease;
    color: gray;
}

.interaction-buttons {
    display: flex;
    gap: 15px; 
}

.like-btn, .delete-btn, .unlike-btn {
    padding: 5px 20px !important;
    transition: all 0.3s ease !important;
    font-weight: bold !important;
    border-color: transparent !important;
    background-color: rgb(237, 237, 237) !important;
}


.like-btn, .unlike-btn {
    color: rgb(34, 95, 155) !important;
}

.delete-btn {
    color: rgb(142, 29, 29) !important;
}

.like-btn:hover, .delete-btn:hover, .unlike-btn:hover {
    transform: scale(1.2) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: white !important;
}

.like-btn:hover, .unlike-btn:hover {
    background-color: rgb(34, 95, 155) !important;
}

.delete-btn:hover {
    background-color: rgb(142, 29, 29) !important;
}

.like-btn:active, .delete-btn:active, .unlike-btn:active {
    border-color: transparent!important;
    background-color: black;
    color: aliceblue;
}

.post-description{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    color: rgb(37, 46, 67);
    font-weight: bold;
    background-color: rgb(236, 242, 247);
    border-radius: 30px;
    padding: 30px;
    padding-left: 50px;
    line-height: 180%;
}

.comment {
    background-color: rgb(249, 249, 249);
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-left: 40px;
    margin-top: 20px;
}
.comments-section .title{
    color: rgb(34, 95, 155);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    font-weight: bold;
}

.comment-author {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}

.comment-author img,
.comment-author a {
    transition: transform 0.3s ease;  
}

.comment-author a:hover,
.comment-author img:hover {
    transform: scale(1.1);  
    text-decoration: none;
}

.comment-text {
    margin-left: 10px;  
    color:rgb(34, 95, 155) ;
    text-decoration: none;
}

.comment .time{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    color: gray;
}

.comment .body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    color:rgb(34, 95, 155);
    line-height: 180%;
    padding-left: 30px;
    padding-right: 40px;
}

.post-container .add-comment-form{
    padding: 30px;
    background-color: aliceblue;
    border-radius: 20px;
}

.post-container .submit-button {
    margin-top: 10px;  
    transition: all 0.3s ease;  
    background-color:rgb(34, 95, 155) ;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px ;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
}

.post-container  .submit-button:hover {
    background-color:rgba(34, 94, 155, 0.801) ;  
    padding-left: 30px;
    padding-right: 30px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.post-container  .submit-button:active {
    background-color: black;  
}


/* About us page */
.aboutus-background {
    background-color: #f3f7f9;
    border-radius: 20px;
}





.aboutus-box {
    width: 80%;
    margin:auto;
}

.aboutus-logo {
    margin-top: 50px;
    margin-left: 100px;
    width: 200px;
}

#abouttitle {
    color: rgb(34, 95, 155) ;
}

.aboutus-heading {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    color:rgb(22, 67, 111) ;    
}

.aboutus-text {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
}


/* size when in md-lg */
@media (min-width: 768px) {
    .aboutus-heading {
        font-size: 3rem; 
    }
    .aboutus-text{
        font-size: 1.1rem ;
    }
    .aboutus-logo {
        margin-top: 50px;
        margin-left: 100px;
        width: 300px;
    }  

}

.aboutus .btn-link {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgb(34, 95, 155);
    color: white;
    border: none;
    text-decoration: none;
    font-weight: bold;
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
    margin:20px;
    
}

.aboutus .btn-link:hover {
    color:rgb(34, 95, 155);
    background-color: white;
    text-decoration: none;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.5);

}