{% extends "base.html" %}

{% block content %}
<!--  This html file is for CITS5505 unit in the university of Western Australia (2024 S1)
This is a part of the Group assingment Group-->

<!-- This is the introduction page -->

<div class="aboutus">
    <div class="container mt-5 aboutus-background">
        <div class="aboutus-box">
            <div class="aboutuspic">
                <div class="text-center mb-4">
                    <!-- logo -->
                    <br>
                    <br>
                    <img src="{{ url_for('static', filename='img/fulllogo.png') }}" alt="Logo" class="aboutus-logo">
                    <br>
                    <br>
                    <br>
                    <!-- short introduction -->
                    <h1 class="aboutus-heading" id="abouttitle">About Job Insight</h1>
                    <p class="aboutus-text">Welcome to <strong>Job Insight</strong>, the social platform tailored for university students, focusing on sharing interview experiences and career development resources to better prepare for the job market.</p>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <!-- Vision -->
            <div class="text-center mb-3">
                <h2 class="aboutus-heading">Vision</h2>
                <p class="aboutus-text"> Empower students with the tools and community support they need to successfully navigate their entry into the workforce</p>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="text-center mb-3">
                <h2 class="aboutus-heading">Motivation</h2>
                <p class="aboutus-text"> University students face numerous challenges when preparing for job interviews and stepping into their careers, often lacking practical experience and guidance. Traditional career hubs have typically provided a static, one-way flow of information, which can feel outdated and impersonal. 
                    <strong>Job Insight</strong> aims to bridge this gap by offering a dynamic platform for information sharing, facilitated through interactions between students and alumni.
                </p>
            </div>
            <br>
            <br>
            <br>
            <br>
            
            <div class="mb-4">
                <h2 class="aboutus-heading text-center">Who are we?</h2>
                <p class="aboutus-text">Job Insight was officially launched on May 10, 2024. In Australia, we deliver our value constantly to all users, regardingless job seekers or recruiters. All the valuable posts would bring others precious experience.</p>
                <p class="aboutus-text"> There are three main features we can deliver: </p>
                <p class="aboutus-text"><strong>Interview Experience Sharing</strong>: Users can share their interview experiences, including questions asked, interview processes, and more.</p>
                <p class="aboutus-text"><strong>Job Information Browsing</strong>: Access up-to-date job postings and internship opportunities from various companies.</p>
                <p class="aboutus-text"><strong>Bridging Industry Expert & Uni Alumni</strong>: User can engage with community and connect with industry expert or uni alumni to get updated information for their car</p>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class="text-center mt-4">
                <p class="aboutus-text">For more information & Links:</p>
                <a href="{{ url_for('main.home') }}" class="btn btn-link rounded-pill">Home Page &nbsp;<i class='fas fa-arrow-alt-circle-right' style='font-size:16px'></i></a>

                {% if current_user.is_authenticated %}
                        <a class="btn btn-link rounded-pill" href="{{ url_for('main.logout') }}"> Logout &nbsp; <i class='fas fa-arrow-alt-circle-right' style='font-size:16px'></i></a>
                        {% else %}
                        <a class="btn btn-link rounded-pill" href="{{ url_for('main.login') }}"> Login &nbsp; <i class='fas fa-arrow-alt-circle-right' style='font-size:16px'></i></a>
                        {% endif %}

            </div>
        </div>
        <br>
        <br>
    </div>
</div>
<br>
<br>
{% endblock %}