<html>
    <head>
        {% if title %}
        <title>{{ title }} - market place</title>
        {% else %}
        <title>market place</title>
        {% endif %}
    </head>
    <body>
        <div>
            Project 2:
            <a href="{{ url_for('main.home') }}">Home</a>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('main.logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('main.login') }}">Login</a>
            {% endif %}
            <a href="{{ url_for('main.channel') }}">Channel </a>
            <a href="{{ url_for('main.post') }}">Post </a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>