<html>
    <head>
        {% if title %}
        <title>{{ title }} - market place</title>
        {% else %}
        <title>market place</title>
        {% endif %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <div>
            Project 2:
            <a href="{{ url_for('main.home') }}">Home</a>
            <a href="{{ url_for('main.login') }}">Login</a>
            <a href="{{ url_for('main.market') }}">Market</a>
            <a href="{{ url_for('main.upload_product') }}">Upload Post</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>