<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"  type ="text/css" href="{{url_for ('static', filename= 'styles.css')}}">
        <script src="{{ url_for('static', filename='script.js') }}"></script>


        {% if title %}
        <title>{{ title }} - Job Insight</title>
        {% else %}
        <title>Job Insight</title>
        {% endif %}

    </head>
    <body>
        <div>
            Project 2:
            <a href="{{ url_for('main.home') }}">Home</a>
            <a href="{{ url_for('main.login') }}">Log in/Sign up</a> <!-- 登陆后显示成log out-->
            <a href="{{ url_for('main.market') }}">Market </a> <!--这个是不是要直接删除，我们没有markt， 我会在我的Home侧边增加发帖， 个人channel 界面， 个人profile界面的入口-->
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>