{% extends "base.html" %}

{% block content %}

<div class="container-fluid userchannel">
  <div class="row">
    <!-- 个人信息部分 -->
    <div class="col-md-1"> </div>
    <div class="col-md-3 col-sm-12 text-center">
      {% if is_own_channel %}
        <img src="{{ url_for('static', filename='user_icon/uploads/' + user_profile.img if user_profile.img else 'user_icon/default_user_icon.jpg') }}" alt="User Icon" class="profile-img rounded-circle mb-3" width="160" height="160">
      {% else %}
        <img src="{{ url_for('static', filename='user_icon/uploads/' + user_profile.img if user_profile.img else 'user_icon/default_user_icon.jpg') }}" alt="User Icon" class="profile-img rounded-circle mb-3" width="160" height="160">
      {% endif %}

      <h2 class="fw-light channeltitle">{{ user_profile.name }}'s Channel</h2>
          <div class="channeltext">
            <p>{{ user_profile.city }}, &nbsp;{{ user_profile.country }}</p> <br>
            <p> {{ user_profile.job_title }} in <strong>{{ user_profile.company }}</strong></p>
            <p>{{ user_profile.job_description }}</p> <br>
            <p><strong>Education Level:</strong> {{ user_profile.education_level }}</p>
            <p><strong>Academic Institution:</strong> {{ user_profile.academic_institution }}</p><br>
          </div>
      <!-- Button Section -->
      <div class="my-2">
        <a href="{{ url_for('main.following', user_id=user.id) }}" class="btn btn-info rounded-pill px-4 my-1">Following</a>
        <a href="{{ url_for('main.followers', user_id=user.id) }}" class="btn btn-info rounded-pill px-4 my-1">Followers</a>
        {% if current_user.is_authenticated %}
        {% if current_user == user %}
            <a href="{{ url_for('main.set_profile') }}" class="btn btn-primary rounded-pill px-4 my-1"> <i class='fas fa-edit' style='font-size:16px'></i>Edit</a>
        {% else %}
            {% if current_user.is_following(user) %}
                <a href="{{ url_for('main.unfollow', user_id=user.id) }}" class="btn btn-danger rounded-pill px-4 my-1"><i class='fas fa-user-minus' style='font-size:16px'></i> Unfollow</a>
            {% else %}
                <a href="{{ url_for('main.follow', user_id=user.id) }}" class="btn btn-primary px-4 my-1"><i class='fas fa-user-plus' style='font-size:16px'></i> Follow</a>
            {% endif %}
        {% endif %}
        {% else %}
          <!-- if not login -->    
          <a href="{{ url_for('main.login') }}" class=" btn btn-primary  rounded-pill px-4 my-1"><i class='fas fa-plus' style='font-size:16px'></i> Follow</a> 
        {% endif %}
      </div>
    </div>

    <!-- 发帖记录部分 -->
    <div class="col-md-7 col-sm-12">
      <h3 style="color: rgb(34, 95, 155); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: bold;">
        Posts by {{ user_profile.name }}</h3>
        <br>
        <br>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4">
        {% for post in posts %}
        <div class="col">
            <a href="{{ url_for('main.show_post', post_id=post.id) }}" class="post-card-link">
                <div class="card h-100 post-card">
                    {% if post.img %}
                    <img src="{{ url_for('static', filename='post_image/' + post.img) }}" class="card-img-top" alt="{{ post.title }}" style="height: 200px; object-fit: cover;">
                    {% else %}
                    <img src="{{ url_for('static', filename='post_image/default.jpg') }}" class="card-img-top" alt="Default Image" style="height: 200px; object-fit: cover;">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.description | truncate(80) }}</p> <!-- Truncate to limit the description if it's too long -->
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <small class="text-muted"><i class='fas fa-heart' style='font-size:16px'></i> &nbsp;&nbsp; {{ post.likes }}</small>
                        <small class="text-muted"><i class='fas fa-comment-alt' style='font-size:16px'></i> &nbsp;&nbsp;{{ post.comments.count() }}</small>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        
      </div>
    </div>
    <div class="col-md-1"> </div>
    
  </div>
</div>

{% endblock %}
