{% extends "base.html" %}

{% block content %}
<!--  This html file is for CITS5505 unit in the university of Western Australia (2024 S1)
This is a part of the Group assingment Group-->

<!-- This is page -->

<div class="container-fluid userchannel">
  <div class="row">
    <!-- Personal info part -->
    <div class="col-md-3 col-sm-12 text-center" style="margin-left: 20px;margin-right: 20px;">
      {% if is_own_channel %}
        <img src="{{ url_for('static', filename='user_icon/uploads/' + user_profile.img if user_profile.img else 'user_icon/default_user_icon.jpg') }}" alt="User Icon" class="profile-img rounded-circle mb-3" width="160" height="160">
      {% else %}
        <img src="{{ url_for('static', filename='user_icon/uploads/' + other_user_profile.img if other_user_profile.img else 'user_icon/default_user_icon.jpg') }}" alt="User Icon" class="profile-img rounded-circle mb-3" width="160" height="160">
      {% endif %}

      <h2 class="fw-light channeltitle">{{ other_user_profile.name }}'s Channel</h2>
          <div class="channeltext">
            <p>
              {% if other_user_profile.city or other_user_profile.country %}
                  {{ other_user_profile.city }} &nbsp; &nbsp;{{ other_user_profile.country }}
              {% else %}
                  No Location Information
              {% endif %}
          </p>
          <br>
          <p>
              {% if other_user_profile.job_title and other_user_profile.company %}
                  {{ other_user_profile.job_title }} in <strong>{{ other_user_profile.company }}</strong>
              {% elif other_user_profile.job_title %}
                  {{ other_user_profile.job_title }}
              {% elif other_user_profile.company %}
                  <strong>{{ other_user_profile.company }}</strong>
              {% else %}
                  No Career Information
              {% endif %}
          </p>
          <br>
          <p>
              <strong>Education Level:</strong>
              {{ other_user_profile.education_level if other_user_profile.education_level else 'No Info' }}
          </p>
          <p>
              <strong>Academic Institution:</strong>
              {{ other_user_profile.academic_institution if other_user_profile.academic_institution else 'No Info' }}
          </p>
          <br>
          </div>
      <!-- Button Section -->
      <div class="my-2">
        <a href="{{ url_for('main.following', user_id=user.id) }}" class="btn btn-info rounded-pill px-4 my-1">Following</a>
        <a href="{{ url_for('main.followers', user_id=user.id) }}" class="btn btn-info rounded-pill px-4 my-1">Followers</a>
        {% if current_user.is_authenticated %}
        {% if current_user == user %}
            <a href="{{ url_for('main.set_profile') }}" class="btn btn-primary rounded-pill px-4 my-1"> <i class='fas fa-edit' style='font-size:16px'></i>Edit</a>
        {% else %}
            {% if current_user.is_following(user) %}
                <a href="{{ url_for('main.unfollow', user_id=user.id) }}" class="btn btn-danger rounded-pill px-4 my-1"><i class='fas fa-user-minus' style='font-size:16px'></i> Unfollow</a>
            {% else %}
                <a href="{{ url_for('main.follow', user_id=user.id) }}" class="btn btn-primary rounded-pill px-4 my-1"><i class='fas fa-user-plus' style='font-size:16px'></i> Follow</a>
            {% endif %}
        {% endif %}
        {% else %}
          <!-- if not login -->
          <a href="{{ url_for('main.login') }}" class=" btn btn-primary  rounded-pill px-4 my-1"><i class='fas fa-plus' style='font-size:16px'></i> Follow</a>
        {% endif %}
      </div>
    </div>

    <!-- Post Part -->
    <div class="col-md-8 col-sm-12">
      <h3 style="color: gray;">Posts by {{ other_user_profile.name }}</h3>
      <br>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4">
        {% for post in posts %}
        <div class="col">
            <a href="{{ url_for('main.show_post', post_id=post.id) }}" class="post-card-link">
                <div class="card h-100 post-card">
                    {% if post.img %}
                    {% if post.category %}
                    {% set category_class = 'badge rounded-pill category-' + post.category.name %}
                    <div class="{{ category_class }}" style="position: absolute; top: 10px; left: 10px; z-index: 10;">
                        {{ post.category.name }}
                    </div>
                    {% else %}
                    <div class="badge rounded-pill category-none" style="position: absolute; top: 10px; left: 10px; z-index: 10;">
                        No Category
                    </div>
                    {% endif %}

                    <img src="{{ url_for('static', filename='post_image/' + post.img) }}" class="card-img-top" alt="{{ post.title }}" style="height: 200px; object-fit: cover;">
                    {% else %}
                    <img src="{{ url_for('static', filename='post_image/default.jpg') }}" class="card-img-top" alt="Default Image" style="height: 200px; object-fit: cover;">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.description | truncate(40) }}</p> <!-- Truncate to limit the description if it's too long -->
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <small class="text-muted"><i class='fas fa-heart' style='font-size:16px'></i> &nbsp;&nbsp; {{ post.likes }}</small>
                        <small class="text-muted"><i class='fas fa-comment-alt' style='font-size:16px'></i> &nbsp;&nbsp;{{ post.comments.count() }}</small>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        
      </div>
    </div>
    
  </div>
</div>

{% endblock %}
