{% extends "base.html" %}

{% block content %}
<div class="container followsection">
    <h2>{{ user.details.name }}'s Followers</h2>
    <br>
    <div class="list-group">
        {% for follower in followers %}
        <a href="{{ url_for('main.channel', user_id=follower.id) }}" class="list-group-item list-group-item-action d-flex align-items-center">
            {% if follower.details.img %}
                <!-- show user's icon if icon exist -->
                <img src="{{ url_for('static', filename='user_icon/uploads/' + follower.details.img) }}" alt="{{ follower.details.name }}'s Avatar" style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover; margin-right: 10px;">
            {% else %}
                <!-- show default icon if icon not set -->
                <img src="{{ url_for('static', filename='user_icon/default_user_icon.jpg') }}" alt="Default Avatar" style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover; margin-right: 10px;">
            {% endif %}
            {{ follower.details.name if follower.details and follower.details.name else follower.username }}
        </a>
        {% endfor %}
        
    </div>
</div>
{% endblock %}
