{% extends "base.html" %}

{% block content %}
<!--  This html file is for CITS5505 unit in the university of Western Australia (2024 S1)
This is a part of the Group assingment Group-->

<!-- This is log in page -->

<div class="profile container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card profile-card">
                <div class="card-header text-center">
                    <h1> <i class='fas fa-user-circle' style='font-size:40px'></i> Sign In</h1>
                </div>
                <div class="card-body">
                    <form action="" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                        <!-- username form -->
                            {{ form.username.label(class="form-label") }}
                            {{ form.username(class="form-control", size=32) }}
                        <!-- exception handle -->
                            {% for error in form.username.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                        <!-- user password form -->
                            {{ form.password.label(class="form-label") }}
                            {{ form.password(class="form-control", size=32) }}
                            {% for error in form.password.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-check">
                            <!-- remember me check -->
                            {{ form.remember_me(class="form-check-input") }}
                            {{ form.remember_me.label(class="form-check-label") }}
                        </div>
                        <div class="mt-3">
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </form>
                    <div class="mt-3">
                        <!-- redirection -->
                        <a href="{{ url_for('main.signup') }}">Have no account? Sign-up here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <br> <br> <br> <br> 
{% endblock %}