{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>{{ post.title }}</h2>
    <p>{{ post.description }}</p>
    {% if post.img %}
        <img src="{{ url_for('static', filename='post_image/' + post.img) }}" alt="Post Image" class="img-fluid">
    {% endif %}

     <!-- 帖子喜欢按钮 -->
     {% if current_user.is_authenticated %}
     {% if post in current_user.liked_posts %}
       <form action="{{ url_for('main.like_post', post_id=post.id) }}" method="POST">
         <button type="submit" class="btn btn-danger">Unlike</button>
       </form>
     {% else %}
       <form action="{{ url_for('main.like_post', post_id=post.id) }}" method="POST">
         <button type="submit" class="btn btn-primary">Like</button>
       </form>
     {% endif %}
   {% endif %}


    <hr>

    <h3>Comments</h3>
    <ul class="list-group">
        {% for comment in comments %}
            <li class="list-group-item">
                <div class="comment">
                    <!-- 显示评论用户的头像 -->
                    {% if comment.author.details and comment.author.details.img %}
                        <img src="{{ url_for('static', filename='user_icon/uploads/' + comment.author.details.img) }}" alt="User Icon" style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover; margin-right: 10px;">
                    {% else %}
                        <img src="{{ url_for('static', filename='user_icon/default_user_icon.jpg') }}" alt="Default Icon" style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover; margin-right: 10px;">
                    {% endif %}
                    <p><strong>{{ comment.author.username }}</strong> - {{ comment.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                    <p>{{ comment.body }}</p>

                     <!-- 评论喜欢按钮 -->
                     {% if current_user.is_authenticated %}
                        {% if comment in current_user.liked_comments %}
                            <form action="{{ url_for('main.like_comment', comment_id=comment.id) }}" method="POST">
                                <button type="submit" class="btn btn-danger">Unlike</button>
                            </form>
                        {% else %}
                            <form action="{{ url_for('main.like_comment', comment_id=comment.id) }}" method="POST">
                                <button type="submit" class="btn btn-primary">Like</button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>

    <hr>

    <!-- Form to add a new comment -->
    <form method="POST" action="{{ url_for('main.add_comment', post_id=post.id) }}">
        {{ comment_form.hidden_tag() }}
        <div class="form-group">
            <label for="content" class="form-control-label">Add a Comment:</label>
            {% if comment_form.content.errors %}
                {{ comment_form.content(class="form-control is-invalid", maxlength=500) }}
                <div class="invalid-feedback">
                    {% for error in comment_form.content.errors %}
                        <span>{{ error }}</span><br>
                    {% endfor %}
                </div>
            {% else %}
                {{ comment_form.content(class="form-control", maxlength=500) }}
            {% endif %}
        </div>
        
        <button type="submit" class="btn btn-primary">Submit Comment</button>
    </form>
</div>

    {% if current_user.is_authenticated and post.author_id == current_user.id %}
        <form method="post" action="{{ url_for('main.delete_post', post_id=post.id) }}">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger">Delete Post</button>
        </form>
    {% endif %}
{% endblock %}
