{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>{{ post.title }}</h2>
    <p>{{ post.description }}</p>
    {% if post.img %}
        <img src="{{ url_for('static', filename='post_image/' + post.img) }}" alt="Post Image" class="img-fluid">
    {% endif %}

    <hr>

    <h3>Comments</h3>
    <ul class="list-group">
        {% for comment in comments %}
            <li class="list-group-item">{{ comment.content }}</li>
        {% endfor %}
    </ul>

    <hr>

    <!-- Form to add a new comment -->
    <form method="POST" action="{{ url_for('main.add_comment', post_id=post.id) }}">
        {{ comment_form.hidden_tag() }}
        <div class="form-group">
            <label for="content" class="form-control-label">Add a Comment:</label>
            {% if comment_form.content.errors %}
                {{ comment_form.content(class="form-control is-invalid", maxlength=500) }}
                <div class="invalid-feedback">
                    {% for error in comment_form.content.errors %}
                        <span>{{ error }}</span><br>
                    {% endfor %}
                </div>
            {% else %}
                {{ comment_form.content(class="form-control", maxlength=500) }}
            {% endif %}
        </div>
        
        <button type="submit" class="btn btn-primary">Submit Comment</button>
    </form>
</div>
{% endblock %}
