{% extends "base.html" %}

{% block content %}
    <div id="Profile">
    <h1>User Profile</h1>
    <img src="{{ url_for('static', filename='user_icon/uploads/' + user_profile.img)  if user_profile.img else url_for('static', filename='user_icon/default_user_icon.jpg') }}" alt="User Icon" style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;">
    <p>Name: {{ user_profile.name }}</p>
    <p>Address: {{ user_profile.address }}</p>
    <p>Company: {{ user_profile.company }}</p>
    <p>City: {{ user_profile.city }}</p>
    <p>Country: {{ user_profile.country }}</p>
    <p>Phone: {{ user_profile.phone }}</p>
    <p>Job Title: {{ user_profile.job_title }}</p>
    <p>Job Description: {{ user_profile.job_description }}</p>
    <p>Education Level: {{ user_profile.education_level }}</p>
    <p>Academic Institution: {{ user_profile.academic_institution }}</p>
    <a href="{{ url_for('main.set_profile') }}">Edit Profile</a>
    <a href="{{ url_for('main.set_icon') }}">Change Icon</a>
</div>


{% endblock %}


