{% extends "base.html" %}

{% block content %}
<!--  This html file is for CITS5505 unit in the university of Western Australia (2024 S1)
This is a part of the Group assingment Group-->

<!-- This is page -->

<div class="profile container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="card profile-card">
                <h1 class="card-header text-center"> <i class='fas fa-edit' style='font-size:40px'></i> Edit Profile</h1>
                <div class="card-body">
                    <!-- setting profile by using form -->
                    <form method="POST" action="{{ url_for('main.set_profile') }}">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.name.label(class="form-label") }}
                            {{ form.name(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.address.label(class="form-label") }}
                            {{ form.address(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.company.label(class="form-label") }}
                            {{ form.company(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.city.label(class="form-label") }}
                            {{ form.city(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.country.label(class="form-label") }}
                            {{ form.country(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.phone.label(class="form-label") }}
                            {{ form.phone(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.job_title.label(class="form-label") }}
                            {{ form.job_title(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.job_description.label(class="form-label") }}
                            {{ form.job_description(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.education_level.label(class="form-label") }}
                            {{ form.education_level(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.academic_institution.label(class="form-label") }}
                            {{ form.academic_institution(class="form-control") }}
                        </div>
                        <div class="d-grid gap-2">
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> <br> <br> <br> <br>
{% endblock %}
