{% extends "base.html" %}

{% block content %}
<div class="profile container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card profile-card">
                <div class="card-header text-center">
                    <h1 > <i class='fas fa-user-edit' style='font-size:40px'></i> Change Icon</h1>
                </div>
                <div class="card-body">
                    <form method="POST" action="{{ url_for('main.set_icon') }}" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <div class="mb-3">
                            <!-- img path -->
                            {{ form.img.label(class="form-label") }}
                            {{ form.img(class="form-control") }}
                        </div>
                        <div class="d-grid gap-2">
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div><br><br><br>
{% endblock %}
